// если вы хотите использовать sass-переменные - удалите root

:root {
  // base
  --font-family: "Ralewey", sans-serif;
  --content-width: 1216px;
  --container-offset: 15px;
  --content-fluid-width: 1790px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));

  // colors
  --color-light: #fff;
  --color-black: #000;
  --color-yellow: #ffab00;
  --color-gray: #808080;
  --color-green: #3cce42;
  --color-alabaster: #f9f9f9;
  --color-blue: #334483;
}
